<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>450108302383-ghuloa7gujgksrjuvqco2bl6ugda7ctl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.450108302383-ghuloa7gujgksrjuvqco2bl6ugda7ctl</string>
	<key>API_KEY</key>
	<string>AIzaSyA_DHAplT-vYbZD_D0wYKhAaGVXcrkkKKY</string>
	<key>GCM_SENDER_ID</key>
	<string>450108302383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ademdeliaslan.InstagramCloneWithFireBase</string>
	<key>PROJECT_ID</key>
	<string>instagramclonefirebase-53c2d</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclonefirebase-53c2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450108302383:ios:1b2f723955b70c2bdc52da</string>
</dict>
</plist>