<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109438392345-ojt9bpnkbnknp17i9pilg09ooqs2k11v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109438392345-ojt9bpnkbnknp17i9pilg09ooqs2k11v</string>
	<key>API_KEY</key>
	<string>AIzaSyCKf3VzE2ak_7TmxSW6nhInsZA10_1L0uo</string>
	<key>GCM_SENDER_ID</key>
	<string>109438392345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ademdeliaslan.Athenaeum</string>
	<key>PROJECT_ID</key>
	<string>athenaeum-book</string>
	<key>STORAGE_BUCKET</key>
	<string>athenaeum-book.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109438392345:ios:8eda7e760e02b19d13f288</string>
</dict>
</plist>